<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @babysitter.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @babysitter.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @babysitter.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @babysitter.location %>
</p>

<p>
  <strong>About me:</strong>
  <%= @babysitter.about_me %>
</p>


<%= link_to 'Edit', edit_babysitter_path(@babysitter) %> |
<%= link_to 'Back', babysitters_path %>
