<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @babysitter.name %>
</p>

<p>
  <strong>No of children:</strong>
  <%= @babysitter.no_of_children %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @babysitter.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @babysitter.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @babysitter.location %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @babysitter.rating %>
</p>

<p>
  <strong>About me:</strong>
  <%= @babysitter.about_me %>
</p>



<%= link_to 'Edit', edit_babysitter_path(@babysitter) %> |
<%= link_to 'Back', babysitters_path %>
