<%= form_for(@nanny) do |f| %>
  <% if @nanny.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nanny.errors.count, "error") %> prohibited this nanny from being saved:</h2>

      <ul>
      <% @nanny.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :no_of_children %><br>
    <%= f.number_field :no_of_children %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :about_me %><br>
    <%= f.text_area :about_me %>
  </div>
  <div class="field">
    <%= f.label :nanny_image %><br />
    <%= f.file_field :nanny_image %>
  </div>
  <div class="field">
    <%= f.label :remote_nanny_image_url %><br />
    <%= f.text_field :remote_nanny_image_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
