<p id="notice"><%= notice %></p>

<h1>Listing Nannies</h1>
<%= search_form_for @search do |f|%>
<div class="field">

  <%= f.label :location_cont %>
  <%= f.search_field :location_cont %>

  <%= f.label :no_of_children_cont %>
   <%= f.search_field :email_cont %>

   <%= f.label :rating_cont %>
    <%= f.search_field :rating_cont %>

</div>
<div class="action"><%= f.submit  "search"%></div>

<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th><%=sort_link @search, :no_of_children, "No of children"%></th>
      <th>Phone number</th>
      <th>Email</th>
      <th><%=sort_link @search, :location, "Location"%></th>
      <th><%=sort_link @search, :rating, "Rating"%></th>
      <th>About me</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nannies.each do |nanny| %>
      <tr>
        <td><%= nanny.name %></td>
        <td><%= nanny.no_of_children %></td>
        <td><%= nanny.phone_number %></td>
        <td><%= truncate(nanny.email, :length => 15) %></td>
        <td><%= nanny.location %></td>
        <td><%= nanny.rating %></td>
        <td><%= truncate(nanny.about_me, :length => 15 )%></td>
        <td><%= link_to "Add Friend", friendships_path(:friend_id => nanny), :method => :post %></td>
        <td><%= link_to 'Show', nanny %></td>
        <td><%= link_to 'Edit', edit_nanny_path(nanny) %></td>
        <td><%= link_to 'Destroy', nanny, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nanny', new_nanny_path %>
