<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nanny.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @nanny.age %>
</p>

<p>
  <strong>No of children:</strong>
  <%= @nanny.no_of_children %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @nanny.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @nanny.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @nanny.location %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @nanny.rating %>
</p>

<p>
  <strong>About me:</strong>
  <%= @nanny.about_me %>
</p>

<p>
  <strong>Category:</strong>
  <%= @nanny.category_id %>
</p>

<%= link_to 'Edit', edit_nanny_path(@nanny) %> |
<%= link_to 'Back', nannies_path %>
