<p id="notice"><%= notice %></p>
  <p>
    <b>Image:</b>
    <%= link_to image_tag(@childminder.childminder_image.large.url) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @childminder.name %>
</p>

<p>
  <strong>No of children:</strong>
  <%= @childminder.no_of_children %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @childminder.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @childminder.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @childminder.location %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @childminder.rating %>
</p>

<p>
  <strong>About me:</strong>
  <%= @childminder.about_me %>
</p>

<!-- for friendship in -->

<h2>Added by Users</h2>
<ul>
  <%  @childminder.friendships.each do |friendship| %>
    <li>
      <%= friendship.user.name %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>



<%= link_to 'Edit', edit_childminder_path(@childminder) %> |
<%= link_to 'Back', childminders_path %>
