<!DOCTYPE html>
<html>
<head>
  <title>KuteKidie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class= "home">
  <header>
    <div class="nav">

      
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
     <ul>
       <li> <%= link_to "Home", root_path%></li>
       <li> <%= link_to "Childminders", childminders_path %></li>
       <li> <%= link_to "Babysitters", babysitters_path %></li>
       <li> <%= link_to "Nannies", nannies_path %></li>
       <div class="login">
         <% if current_user %>
         <% current_user.email %>
         <li> <%=link_to "Log out", destroy_user_session_path, method: :delete %></li>
         <% else %>
         <li><%= link_to "My Account", new_user_session_path %></li>
         <li><%= link_to "Join In", new_user_registration_path %></li>
         <% end %>
       </div>
     </ul>
   </nav> 
 </div>
 

 <%= yield %>
</header>
</body>
</html>
